<% provide(:title, "Hot") %>
<section class="main-container", style="margin-bottom: 15px;">
  <div class="grid row">
    <% @images.each do |image| %>
      <%= render "images/image", image: image %>
    <% end %>
  </div>
  <%= will_paginate(@images, class: "hide") %>
</section>